:root {
  --navblock-width: 200px;
  --block-bgcolor: #f6f7f9;
  --navi-blue: #456789;
}

@font-face {
  font-family: Avenir;
  src: url(./fonts/Avenir-Book-woff-5.ttf);
}

body {
  margin: 0;
  font-family: Avenir;
  overflow: hidden;
}

.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: var(--navblock-width);
  min-width: var(--navblock-width);
  padding: 5px 10px;
}

.navblock {
  margin: 5px 0px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: var(--block-bgcolor);
}

.qli {
  height: fit-content;
}

.infoli {
  padding: 10px 15px;
  flex: 1;
  overflow: auto;
}

h3 {
  margin: 10px 0px;
  padding-left: 5px;
}

#qlist {
  padding-left: 30px;
}

#qlist li {
  color: gray;
  transition: 0.3s;
}

#qlist li:hover {
  color: black;
}

#qlist li:active {
  color: black;
}

#qlist .active {
  color: black;
}

.content {
  flex: 1;
  padding: 10px 10px;
  padding-left: 0px;
  overflow: hidden;
}

.block {
  opacity: 0;
  width: calc(100vw - var(--navblock-width) - 70px);
  height: 0;
  padding: 0px 20px;
  border-radius: 10px;
  background-color: var(--block-bgcolor);
  overflow: hidden;
  transition: 0.4s ease-in-out;
}

.block.active {
  opacity: 1;
  height: calc(100vh - 30px);
  padding: 5px 20px;
  overflow: auto;
}

del {
  color: gray;
}

a {
  color: var(--navi-blue);
}

.info {
  margin: 6px 0px;
}

#snowman {
  line-height: 150%;
  font-size: 90%;
  color: gray;
  text-align: center;
}

#q3input {
  display: none;
}

.round-ends-label {
  padding: 5px 20px;
  color: var(--navi-blue);
  border: 1px solid var(--navi-blue);
  border-radius: 60px;
  white-space: nowrap;
  transition: 0.3s;
}

.clickable:hover {
  color: var(--block-bgcolor);
  background-color: var(--navi-blue);
}

.hori-container {
  align-items: center;
  overflow: auto;
}

#q3formula {
  margin-top: 20px;
  margin-bottom: 10px;
}

.qhead {
  display: flex;
  align-items: center;
}

table {
  margin: auto;
  border-collapse: collapse;
}

#q3info th {
  min-width: 110px;
  font-weight: normal;
  background-color: #e4e9ee;
}

#q3info td {
  background-color: #eef3f8;
}

#q3info th, td {
  padding: 2px 5px;
  text-align: center;
  border-left: 1px solid #456789;
  border-right: 1px solid #456789;
}

.right-align-tools {
  padding-bottom: 20px;
  position: relative;
}

#q3precision:focus {
  outline: none;
}

.dropdown-arrow {
  width: 0;
  height: 0;
  display: inline-block;
  border: 5px solid transparent;
  border-right: 8px solid #456789;
  transition: 0.3s ease-in-out;
}

.dropdown-arrow.active {
  transform-origin: 9.3px 5px;
  transform: rotate(-90deg);
}

.dropdown {
  position: absolute;
  opacity: 0;
  margin-top: 15px;
  padding: 5px 20px;
  border: 1px solid var(--navi-blue);
  border-radius: 17px;
  background-color: var(--block-bgcolor);
  box-shadow: 5px 5px 10px rgba(99, 99, 99, 0.3);
  transition: 0.3s ease-in-out;
}

.dropdown.active {
  opacity: 1;
}

.dropdown-option {
  margin: 5px 0px;
  color: #939ba4;
  transition: 0.3s;
}

.dropdown-option:hover {
  color: #456789;
}

.dropdown-option.active {
  color: #456789;
}

.dropdown-hr {
  margin: 0px -10px;
}
